/* Global */

:root {
  --grey: hsl(240, 3%, 30%);
  --greyshadow: hsl(240, 3%, 15%);
  --lightgrey: hsl(0, 0%, 80%);
  --lgshadow: hsl(0, 0%, 65%);
  --green: hsl(110, 12%, 40%);
  --greenshadow: hsl(111, 12%, 27%);
  --white: rgb(255, 255, 255);
  --orange: hsl(41, 98%, 50%);
  --orangeshadow: hsl(41, 98%, 35%);
  --red: hsl(9, 97%, 40%);
  --redshadow: hsl(9, 97%, 25%);
  --blue: hsl(212, 100%, 50%);
  --blueshadow: hsl(212, 100%, 35%);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

/* Flexbox */

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

/* Content */
.main {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.calculator {
  width: min(95%, 28.125rem);
  background: var(--grey);
  border-radius: 15px;
  box-shadow: 0 3px 0 var(--greyshadow);
}

/* Grid */

.grid {
  display: grid;
}

.calculator__buttons {
  grid-template-columns: repeat(3, calc(25% - 6px));
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "Reset Back Divide Multi"
    "Seven Eight Nine Subst"
    "Four Five Six Add"
    "One Two Three Equal"
    "Zero Zero Dot Equal";
  gap: 0.5rem;

  margin: 1rem;
}

.calculator__display {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;

  background: var(--green);
  border: 1px solid var(--green);
  color: var(--white);
  border-radius: 15px;
  box-shadow: 0 3px 0 var(--greenshadow);
}

.calculator__result {
  display: block;
  text-align: right;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

/* Buttons Grid */
.btn {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 2rem;
  background: var(--lightgrey);
  border: 1px solid var(--lightgrey);
  border-radius: 15px;
  box-shadow: 0 3px 0 var(--lgshadow);
  transition: transform 0.2s;
}

.btn--orange {
  background: var(--orange);
  border: 1px solid var(--orange);
  box-shadow: 0 3px 0 var(--orangeshadow);
  color: var(--white);
  font-weight: bold;
}

.btn--blue {
  background: var(--blue);
  border: 1px solid var(--blue);
  box-shadow: 0 3px 0 var(--blueshadow);
  color: var(--white);
  font-weight: bold;
}

.btn--red {
  background: var(--red);
  border: 1px solid var(--red);
  box-shadow: 0 3px 0 var(--redshadow);
  color: var(--white);
  font-weight: bold;
}

.btn--hover {
  transform: scale(1.05);
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.99);
}

.btn-c {
  grid-area: Reset;
}

.btn-7 {
  grid-area: Seven;
}

.btn-8 {
  grid-area: Eight;
}

.btn-9 {
  grid-area: Nine;
}

.btn-div {
  grid-area: Divide;
}

.btn-4 {
  grid-area: Four;
}

.btn-5 {
  grid-area: Five;
}

.btn-6 {
  grid-area: Six;
}

.btn-mul {
  grid-area: Multi;
}

.btn-1 {
  grid-area: One;
}

.btn-2 {
  grid-area: Two;
}

.btn-3 {
  grid-area: Three;
}

.btn-sub {
  grid-area: Subst;
}

.btn-0 {
  grid-area: Zero;
}

.btn-equ {
  grid-area: Equal;
}

.btn-add {
  grid-area: Add;
}

.btn-b {
  grid-area: Back;
}
